<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/materialize/materialize.css">
    <link rel="stylesheet" href="../assets/css/materialize/materialize.min.css">

    <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/x-icon">  

    <title>Sal de Oro</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">

</head>
<body>
    <nav>

    </nav>
    <header>

    </header>

    <section >
            <div>

            </div>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi delectus placeat possimus accusantium vero aut, ex provident quod deleniti quae, et temporibus vel? Soluta repellendus porro quod assumenda? Atque, similique!
            </p>
    </section>

    <section class="content-article-show green_sunny">
      
            <div class="content-article__description">
                <p class="content-article-show__description_text">
                    Somos una empresa productora de Sal de Zapotitlan Salinas,orgullasamente Mexicana,que vende productos,derivados de la sal, productos de origen natural y de calidad prérmium.
                </p>
            </div>
            <div class="content-article__img">
                <img src="../assets/img/fondo transparente/salt_product_withouth.png"  alt="producto de sal">
                
            </div>
            <div>
                <a class="waves-effect waves-light btn-small btn__custom">Ver todos productos</a>

            </div>
           

    </section>

    <section>
        <div>
            <img src="" alt="">
        </div>
        <p>lorem</p>
        <button>

        </button>

    </section>

    <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat vero, quasi assumenda illum quidem sunt deleniti, distinctio quo similique dignissimos, aspernatur id. Quas dolor voluptates in facilis hic amet? Explicabo?</p>
        <button></button>
    </section>
    <section></section>
    <section></section>

    <footer>

    </footer>


    
    <script src="../assets/js/materialize/materialize.js"></script>
    <script src="../assets/js/materialize/materialize.min.js"></script>

</body>
</html>