:root{
    --green-sunny:rgb(103, 180, 65);
    --white-custom:white;
}
.green_sunny
{
    background-color: var(--green-sunny);
}
section
{
    width: 100%;
}


.content-article-show
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr .45fr;
    grid-template-areas:'description-product product-img'
                         'description-product product-img'
                         'button-product button-product' ;

    height:40vh ;
    

}
.content-article__img
{
    grid-area: product-img;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;


}
.content-article__img img
{
    width: 250px;
}
.content-article__description
{
    grid-area: description-product;

    display: flex;
    flex-direction: column;
    
    justify-content: center;

    margin-left: .4rem;
    
}

.content-article-show__description_text
{

    font-weight: 500;

    color: var(--white-custom);

}
.content-article__button
{
    grid-area: button-product;
    display: flex;
    margin-top:.5rem ;
    justify-content: center;
}

.btn__custom
{
    background-color: var(--green-sunny);

    border-radius: 100px;
    border: 1px solid;
    
    color: var(--white-custom);
    font-weight: 600;
}