:root{
    --green-sunny:#67b441;
    --white-custom:white;
    --gray:#F5FBF0;

    /* --black:#2F4858; */
    --black:rgba(0, 0, 0, 0.807);
}
.green_sunny
{
    background-color: var(--green-sunny);
}
.gray_custom
{
    background-color: var(--gray);
}
.color-white-custom
{
    color: var(--white-custom);

}

section
{
    width: 100%;
}

header
{
    height: 80vh;

    background-color: var(--gray);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .5fr .5fr 1fr .25fr;
    grid-template-areas: "header-title  header-title header-img header-img"
                         "header-title  header-title header-img header-img"
                         "header-description header-description header-img header-img"
                         " header-button  header-button  header-button  header-button"


                    ;

}

.header__title
{
    grid-area: header-title;
    /* background-color: rgb(51, 0, 255); */
}
.header__img
{
    grid-area: header-img;
    /* background-color: rebeccapurple; */
}
.header__description
{
    grid-area:header-description;
    /* background-color: red; */
}
.header__button
{
    grid-area: header-button; 
    display: flex;
    justify-content: center;
    /* background-color: rebeccapurple; */

}
.header__button button
{
    color: var(--green-sunny);
    font-weight: bold;
    
    border:2px solid;
    border-color: var(--green-sunny);
}

.content-article-show
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr .45fr;
    grid-template-areas:'description-product product-img'
                         'description-product product-img'
                         'button-product button-product' ;

    height:40vh ;
    

}
.content-article__img
{
    grid-area: product-img;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;


}
.content-article__img img
{
    position: relative;
    min-width: 10rem;
}
.content-article__description
{
    grid-area: description-product;

    display: flex;
    flex-direction: column;
    
    justify-content: center;

    margin-left: .4rem;

    
    
}


.content-article-show__description_text
{

    font-weight: 500;


}
.content-article__button
{
    grid-area: button-product;
    display: flex;
    margin-top:.5rem ;
    justify-content: center;
}

.bg-green
{
    background-color: var(--green-sunny);

}
.btn__custom
{

    border-radius: 100px;
    border: 2px solid;
    
    color: var(--white-custom);
    font-weight: 600;
}

/* Recipes start  */
.container-recipe
{
    background-color: var(--gray);
    width: 100%;
    height: 45vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:.5fr 1fr .2fr;
    grid-template-areas:'recipe-img'
                        'recipe-description'
                        'recipe-button';
}
.recipes__img
{
    grid-area: recipe-img;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.recipes__description
{   
    grid-area: recipe-description;
}
.recipes__description p
{
    text-align: center;
    color:var(--black);

    font-weight: bold;
    font-size: 1.4rem;

}
.recipes__button
{
    grid-area: recipe-button;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.recipes__button button
{
    color: var(--green-sunny);
    font-weight: bold;
    
    border:2px solid;
    border-color: var(--green-sunny);

}

/* contact us start */
.container-contact-us
{
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .6fr .1fr;


 

}
.contact-us__text
{
    display: flex;
    justify-content: center;
    
    font-size: 1.5rem;
}
.contact-us__text p
{
    text-align: center;
    font-weight: bold;

    margin-top: 1rem;
}
.contact-us__button
{

    
    display: flex;
    
    justify-content: center;
    
    margin-top: 1rem;
}

/* section video start */
.container-video
{
  display: flex;
  justify-content: center;


}
.container-video iframe
{
    margin-left: 3rem;
    margin:4rem 0;

    border: none;
    border-radius: .4rem;

    width:25rem;
    height: 15rem;

}

/* section video end */
footer
{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;

}
footer ul
{
    display: flex;
}